body {
  background-color: #e8eae6;
  text-align: center;

}

.big-box {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "daniel-div daniel-div jonathan-div kira-div"
    "jeanette-div patrick-div patrick-div kira-div";
  grid-gap: 0.5em;
  text-align: center;
}


.daniel-div {
  background-color: #6155a6;
  font-style: normal;
  position: relative;
  padding-left: 20px;
  padding-top: 13px;
  font-style: arial;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-radius: 9px;
  grid-area: daniel-div;
}

.daniel-image {
  float: left;
  position: relative;
  margin-right: 15px;
  margin-top: 13px;
}

.daniel-h3 {
  margin-bottom: 0;
  color: #cdd0cb;
}

.daniel-ver {
  margin-top: 0;
  color: #cdd0cb;
}

.daniel-words {
  font-size: 1.7em;
  color: white;
}

.daniel-addinfo {
  font-size: 0.8em;
  color: #cdd0cb;
  padding-bottom: 15px;
}

.jonathan-div {
  background-color: #374045;
  font-style: normal;
  position: relative;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-radius: 9px;
  grid-area: jonathan-div;
}

.jonathan-image {
  float: left;
  position: relative;
  margin-right: 15px;
  margin-top: 13px;
}

.jonathan-h3 {
  margin-bottom: 0;
  color: #cdd0cb;
}

.jonathan-ver {
  margin-top: 0;
  color: #cdd0cb;
}

.jonathan-words {
  font-size: 1.7em;
  color: white;
}

.jonathan-addinfo {
  font-size: 0.8em;
  color: #cdd0cb;
  padding-bottom: 15px;
}

.jeanette-div {
  background-color: white;
  font-style: normal;
  position: relative;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-radius: 9px;
  grid-area: jeanette-div;
}

.jeanette-image {
  float: left;
  position: relative;
  margin-right: 15px;
  margin-top: 13px;
}

.jeanette-h3 {
  margin-bottom: 0;
  color: #2c061f;
}

.jeanetter-ver {
  margin-top: 0;
}

.jeanetter-words {
  font-size: 1.7em;
  color: #222831;
}

.jeanette-addinfo {
  font-size: 0.8em;
  color: #23120b;
  padding-bottom: 15px;
}

.patrick-div {
  background-color: #222831;
  font-style: normal;
  position: relative;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-radius: 9px;
  grid-area: patrick-div;
}

.patrick-image {
  float: left;
  position: relative;
  margin-right: 15px;
  margin-top: 13px;
}

.patrick-h3 {
  margin-bottom: 0;
  color: #cdd0cb;
}

.patrick-ver {
  margin-top: 0;
  color: #cdd0cb;
}

.patrick-words {
  font-size: 1.7em;
  color: white;
}

.patrick-addinfo {
  font-size: 0.8em;
  color: #cdd0cb;
}

.kira-div {
  background-color: white;
  font-style: normal;
  position: relative;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-right: 15px;
  border-radius: 9px;
  grid-area: kira-div;
}

.kira-image {
  float: left;
  position: relative;
  margin-right: 15px;
  margin-top: 13px;
}

.kira-h3 {
  margin-bottom: 0;
  color: #2c061f;
}

.kira-ver {
  margin-top: 0;
}

.kira-words {
  font-size: 1.7em;
  color: #222831;
}

.kira-addinfo {
  font-size: 0.8em;
  color: #23120b;
  padding-bottom: 15px;
}

@media only screen and (max-width: 375px) {
  .big-box {
    grid-template-columns: 0.8fr;
    grid-template-rows: 0.8fr 0.3fr 0.3fr 0.6fr 0.8fr;
    grid-template-areas: "daniel-div"
      "jonathan-div"
      "jeanette-div"
      "patrick-div"
      "kira-div";
  }
}
